{# on doit récupérer le base  #}
{% extends 'base.html.twig' %}
{# on peut redifinir le titre de la page #}
{% block title %}Liste des jeux
{% endblock %}
{# On ouvre le bloxk body #}




{% block body %}

	<h2 class="text-decoration-underline text-center my-4">{{game.title}}</h2>

	{# on récupere le template de rendu de detailCard #}
	 {% include "base/detailCard.html.twig" %}

{% endblock body %}
